.sholder {
  width: 280px;
  height: auto;
  background-color: #595d68;
  display: block;
  color: #595D68;
  font-family: arial;
  padding: 6px;
  margin-bottom: 10px;
  border: 1px solid #333;
}
.sdetails{
  width: 100%;
  margin-bottom: 10px;
}

.stitle {
    color: #fff;
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    width: auto;
    display: block;
    background: #484c57;
    padding: 4px;
    margin-bottom: 5px;
}
.simg {
  width: 64px;
  height: auto;
  
}
i.is3 {
  background-image:url(http://hurtworldmap.com/items/i_03.png);
}
i.is {
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
  background-size: 64px 64px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  line-height: 60px;;
  vertical-align: middle;
  display: inline-block;
}
.info1,
.info2,
.info3,
.info4,
.info5 {
  font-size: 0.75em;
  font-weight: bold;
  text-align: right;
}
.info1 {
  color: #d8d8da;
}
.info2 {
  color: #dc7276;
}
.info3 {
  color: #d8d8da;
}
.info4 {
  color: #cb9e60;
  display: block;
  margin-bottom: 10px;
}
.info5 {
  color: #d3d3d3;
  display: block;
  margin-bottom: 10px;
}




