.ajaxtooltip{
position: absolute; /*leave this alone*/
display: none; /*leave this alone*/
width: 300px;
left: 0; /*leave this alone*/
top: 0; /*leave this alone*/
background: lightyellow;
border: 2px solid gray;
border-width: 1px 2px 2px 1px;
padding: 5px;
}
.itemlist {
  width: 320px;
}
.menu {float:left;margin-bottom: 10px;}
.menu span {
    margin-left: 10px;
  
}
ul.menulist {
    margin: 0px 0px 0px 10px;
    padding: 0px;
}
.menulist li {
    background-color: #656565;
    border-bottom: 1px solid #333;
    width: 120px;
    padding: 2px 2px 2px 5px;
    list-style: none;
    font-size: 13px;
}
i {
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
  background-size: 64px 64px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  line-height: 60px;
  vertical-align: middle;
  display: inline-block;
}

.item,
.item:hover,
.item:focus {
  margin-left: 10px;
  margin-bottom: 2px;
  border-radius: 0px;
  background-color: #333;
  color: #fff;
  width: 300px;
  padding: 10px;
  border: none;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  display: inline-block;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
}
.itemimg {
  display: block;
  float: left;
  width: 65px;
}
.nameid {
  float: right;
  display: block;
  width: 200px;
}
.itemname {
  height: 32px;
  padding: 4px 0px 4px;
  margin: 0px;
  font-family: 'Bebas Neue Bold';
  font-size: 17px;
}
.id {
  height: 32px;
  padding: 4px 0px 4px;
  margin: 0px;
  font-family: 'Bebas Neue Bold';
  font-size: 17px;
}

/*Workbench*/
i.i3 {
  background-image:url(http://hurtworldmap.com/items/i_03.png);
}
/*Wood Log*/
i.i21 {
  background-image:url(http://hurtworldmap.com/items/i_21.png);
}
/*Flint*/
i.i17 {
  background-image:url(http://hurtworldmap.com/items/i_17.png);
}
/*Shaped Iron*/
i.i36 {
  background-image:url(http://hurtworldmap.com/items/i_36.png);
}
/*Iron Axe*/
i.i78 {
  background-image:url(http://hurtworldmap.com/items/i_78.png);
}
/*Amber*/
i.i87 {
  background-image:url(http://hurtworldmap.com/items/i_87.png);
}/*Flint Hatchet*/
i.i89 {
  background-image:url(http://hurtworldmap.com/items/i_89.png);
}

.crafting {
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 0px;  
  background-color: #333;
  width: 300px;
  padding: 5px 10px 10px;
}
.materials {
    color: #DCDCDC;
    font-size: 15px;
}
.ingredient {width: 65px;
height: 65px}
i.i0 {width: 64px;height: 64px;background-color:#656565;
}
.limit {
  position: relative;
}
.qnt {
  color: white;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  position: absolute;
  bottom: -4px;
  right: 4px;
  font-family: 'Helvetica';
  font-size: 17px;
  font-weight: bold;
}
@font-face {
	font-family: 'Bebas Neue Bold';
	font-style: normal;
	font-weight: normal;
	src: local('Bebas Neue Bold'), url('http://hurtworldmap.com/assets/font/BebasNeueBold.woff') format('woff');
	}